<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd"
	default-autowire="byName">

	<import resource="classpath:org/codehaus/xfire/spring/xfire.xml" />
	<import resource="classpath*:/applicationContext-resource-runtime.xml" />


	<bean id="ipInfoServiceImpl" class="com.huifu.configCenter.biz.ws.impl.IpInfoServiceImpl"></bean>

	<bean id="ipInfoService" class="org.codehaus.xfire.spring.remoting.XFireExporter">
		<property name="serviceFactory" ref="xfire.serviceFactory"></property>
		<property name="xfire" ref="xfire"></property>
		<property name="serviceBean" ref="ipInfoServiceImpl"></property>
		<property name="serviceClass"
			value="com.huifu.configCenter.facade.service.IpInfoService"></property>
		<property name="name" value="ipInfoService"></property>
	</bean>

	<bean id="configurationServiceImpl"
		class="com.huifu.configCenter.biz.ws.impl.ConfigurationServiceImpl">
	</bean>
	<bean id="configurationService" class="org.codehaus.xfire.spring.remoting.XFireExporter">
		<property name="serviceFactory" ref="xfire.serviceFactory"></property>
		<property name="xfire" ref="xfire"></property>
		<property name="serviceBean" ref="configurationServiceImpl"></property>
		<property name="serviceClass"
			value="com.huifu.configCenter.facade.service.ConfigurationService"></property>
		<property name="name" value="configurationService"></property>
	</bean>

	<bean id="configurationOperServiceImpl"
		class="com.huifu.configCenter.biz.ws.impl.ConfigurationOperServiceImpl">
	</bean>
	<bean id="configurationOperService " class="org.codehaus.xfire.spring.remoting.XFireExporter">
		<property name="serviceFactory" ref="xfire.serviceFactory"></property>
		<property name="xfire" ref="xfire"></property>
		<property name="serviceBean" ref="configurationOperServiceImpl"></property>
		<property name="serviceClass"
			value="com.huifu.configCenter.facade.service.ConfigurationOperService"></property>
		<property name="name" value="configurationOperService"></property>
	</bean>
</beans>
